# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# PHP / Composer
# =========================
vendor/

# =========================
# Logs
# =========================
*.log

# =========================
# Node.js
# =========================
node_modules/

# =========================
# React
# =========================
dist/
build/

# =========================
# Java
# =========================
*.class
*.jar
target/
out/

# =========================
# IntelliJ IDEA
# =========================
.idea/

# =========================
# Eclipse
# =========================
.settings/
.project
.classpath

# =========================
# Spring Boot
# =========================
.mvn/

# =========================
# Environment Files
# =========================
.env
.env.*

# =========================
# XAMPP
# =========================
tmp/

# =========================
# Tomcat
# =========================
work/
logs/
temp/
webapps/docs/
webapps/examples/
webapps/host-manager/
webapps/manager/
webapps/ROOT/

# =========================
# MySQL Connector
# =========================
mysql-connector-*.jar

# =========================
# macOS
# =========================
.AppleDouble
.LSOverride

# =========================
# Windows
# =========================
Desktop.ini