body{
    background:#f4f6f9;
}

.card{
    border:none;
    border-radius:12px;
}

.card-header{
    border-radius:12px 12px 0 0 !important;
}

.table td,
.table th{
    vertical-align:middle;
}

.btn{
    font-weight:bold;
}

h2,h3{
    font-weight:600;
}